@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #666;
    --white: white;
    --pink: #F799BA;
    --black: black
}