:root {
    --about-primary: #4d6bc6;
}

.format {
    @apply m-4 w-7/12 p-6 rounded-xl;
}
.new-product {
    @apply flex w-full;

    .new-product-container {
        flex: 6;

        .product-listing {
            @apply m-6 p-6;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .subheader {
                @apply flex w-8/12 flex-row flex-nowrap justify-around;

                a {
                    height: 30px;
                }

                a:hover {
                    color: var(--about-primary);
                    border-bottom: 2px solid var(--about-primary);
                }
            }
        }
    }

    #delivery {
        @apply format;
        border-radius: 10px;
        
    }
}

.title {
    @apply text-xl font-medium;
}
p {
    @apply text-s;
}

.about {
    @apply format bg-white;
    
    

    input {
        @apply outline;
    }

    .dropzone {
        @apply flex flex-col items-center justify-center gap-12;
        height: 300px;
        outline: 2px dashed black;
        border-radius: 12px;
    }

    .uploads {
        height: fit-content;
        .img-grid {
            // max-width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            gap: 5px;
            // grid-auto-flow: column;

            li {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.outline {
    @apply mb-8 mt-3  w-full rounded-md p-3;
    height: 50px;
    border: 1px solid black;
    outline-offset: 2px;

    &:focus {
        outline: 2px solid var(--about-primary);
    }
}

#description {
    @apply outline;
}

// Price & Inventory Section

#price-inventory {
    @apply format;
   


    input {
        @apply outline;
    }

    .price-input,
    .quantity-input {
        // width: 30px !important;
        width: 50%;
    }
}

#details {
    @apply format;
 

}

.category-select {
    width: 50%;
}

.new-product-footer {
    button {
        @apply px-4 py-3  text-base rounded-full border-2 border-black hover:scale-105 transition-all;
    }
}

.new-product-wrapper * {
    @apply bg-white
}