#App {
    max-width: 100%;
    @apply m-0 flex flex-col items-center p-0;
    background-color: var(--light-grey);
    width:100%;
    overflow-x: hidden;
}

#main {

  @apply flex justify-center m-0 p-0;
  min-height: 80vh;
   width: 100%;
    background-color: var(--light-grey);
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
   

 width: 100%;

    background-color: var(--primary);
    position: relative;
    
}


#category-wrapper {
    background-color: var(--primary-2);
  
    left: 40px */
}
.header {
    /* @apply flex flex-row w-full max-h-28 px-10 justify-center ; */

    @apply px-4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    height: 60px;

    position: relative;
    align-items: center;
align-self: center;
justify-content: center;
   width: 100%;

  /* @apply lg:px-20; */
    max-width: 1366px
}

#header_category-container {
    margin: 0 auto;
    width: 100%;
    height: 48px;
    color: white;
    /* padding: 0 130px; */
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    left: 15px;
 

    @apply sm+md:hidden lg:max-w-[1366px];

    
    
    /* gap: 0px 20px */;
}
.parallelogram {
    transform: skew(-20deg);
    /* padding: 0 5px;
    margin-left: 20px */
}
.parallelogram:hover {
    transform: none;
    background-color: var(--white);
}

.header-link:nth-last-child(2) {
    margin-right: 8px;
}
.header-link:last-child:hover {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
}
.header-link:last-child {
    -webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    transform: skew(20deg) !important;
}
.header-link {
    @apply flex h-full items-center whitespace-nowrap px-2;
}

.header-link:hover {
    background-color: var(--white);
    color: var(--primary-2);
}

.header-category-btn {
    /* display: none !important */
    border-right: 1px solid var(--primary-2);
    border-left: 1px solid var(--primary-2);
    @apply sm:!hidden md:!hidden;
}
#men:hover,
#women:hover {
    background-color: var(--primary-2);
}

.active-header-category {
    background-color: var(--primary-2);
}

#men,
#women {
    height: 100%;
    color: var(--white);
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    /* flex: 0 0 30% */
    flex: 1 1 auto;
}
.image-wrapper {
    /* @apply h-full max-w-xs */
    height: 100%;
    width: 100px;
    padding-right: 20px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.header-right {
    flex: 1 1 auto;
    @apply flex justify-around items-center ;
    min-width: 0;
    height: 100%;
   max-width:150px;
    @apply sm:gap-5 lg:gap-5 w-full sm:pl-3;
}

.header-icon {
    /* width: 100%;
    height: 100%; */
    /* min-width: calc(100% / 3); */
    height: 100%;
    width: 100%;
    @apply flex items-center justify-center;
}

.img-icon {
    /* object-fit: cover; */
    /* font-size: 35px !important; */
    width: 35px !important;
    height: 35px !important;
    @apply filter;
}

.filter {
    filter: invert(100%);
}
.header-icon:nth-child(3) .img-icon {
    transform: scale(1.5);
}
/* search setion */

.header-left {
    flex : 1 1 1;
    display: flex;
    @apply md:!w-fit;
    min-width: 0;
    height: 100%;
    /* max-width: 150px; */
}

.header-middle {
    flex: 2 2 auto;

    @apply md:mx-10 lg:mx-20 sm:mx-0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    position: relative;
    /* width: 70%; */
    max-width: 700px;
min-width: 0;
}

#search-input {
    width: 100%;
    border-radius: 30px;
    border: 1px solid black;
    height: 70%;
    padding: 10px 20px;
    /* @apply md:!hidden sm:!hidden */
    @apply sm:!hidden;
}
#search-icon-section {
    max-height: 50%;
    max-width: 30px;
    position: absolute;
    right: 10px;
}

#search-icon {
    max-height: 25px;
    width: 25px;
}

/* Banner css */

#banner-text {
    width: 90%;
    text-align: center;
}

.background-color-pink {
    background-color: var(--pink);
}

#discount {
    border-top: 1px solid white;
}

#slide-btn {
    /* content: " "; */
    width: 80px;
    /* background-color: green; */
    border: 1px solid black;
    height: 10px;
    background-color: turquoise;
}

.bottom-text {
    bottom: 4%;
    left: 50%;
    margin-left: -50px;
    color: var(--white);
    font-size: 1.2rem;
}

.section-1 {
    @apply mb-10 flex w-full flex-row;
    max-height: 600px;

}

.salebanner-gap {
    gap: 3px;
}
.salebanner4-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @apply text-center text-4xl;
    color: black;
    width: 80%;
}

.max-700px {
    height: 500px ;
    
}

.badge-icon {
    width: 150px;
    height: 50px;
}

#newsletter {
    
}
#newletter-btn-container {
    background-color: white;
    @apply flex h-full w-12 items-center justify-center rounded-r-lg;
}
.newletter-btn {
    /* @apply absolute h-6 w-6 rounded-full; */
    @apply h-6 w-6 rounded-full;
    right: 4%;
}

/* footer section */
.footer-wrapper {
    background-color: var(--light-grey);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;

}
.footer {
    @apply flex w-full flex-row px-5;
    max-width: 1366px;
    align-self: center;
}
.footer_copyright-wrapper {
    width: 100%;
    background-color: var(--grey-medium);
    @apply mt-2 flex w-full flex-row justify-center;
}

#footer-icons-section {
    @apply my-4 flex w-full flex-row justify-around sm+md:!items-center;
}

.footer-copyrght {
    @apply flex w-full flex-row justify-between self-center px-10 py-3;
    align-self: center;
    margin: 0 28px;
    max-width: 1366px;
}

.footer-copyrght > div:nth-child(2) {
    @apply flex justify-around gap-3;
}

.gradientBackground {
    @apply bg-gradient-to-r from-green-200 via-green-300 to-blue-500;
}

.gradient-banner-2 {
    @apply bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400;
}

.google-badge {
    /* scale: 1.19; */
}

.footer-header .left {
    @apply flex lg:w-60 flex-row h-full justify-end items-center lg:gap-14 sm+md:gap-4;
}
.footer-header .item {
    

    @apply lg:w-8 lg:h-8 sm+md:w-5 sm+md:h-5 ;

    border-radius: 50%;
    @apply flex items-center justify-center;
}

.footer-header .item svg {
    color: white !important;
    @apply filter ;
    @apply sm+md:!w-2/4 sm+md:!h-2/4
}

.footer-header .item:hover {
    border: 2px solid rgb(28, 131, 216);
}

.footer-header .item:nth-of-type(1) {
    background-color: #4267b2;
}

.footer-header .item:nth-of-type(2) {
    background-color: #813aa4;
}
.footer-header .item:nth-of-type(3) {
    background-color: #ffff00;
}
.footer-header .item svg {
    width: 20px;
    height: 20px;
}

.snapchat {
   
    @apply h-6 w-6 sm+md:h-4 sm+md:w-4;
    object-fit: cover;
}

.footer-header .divider {
    border-width: thin;
    border-right-style: solid;
    width: 1px;
    height: 50%;
    @apply lg:mx-10 sm+md:mx-4;
    align-self: center;
}

@media screen and (max-width: 480px) {
    #search-icon {
       @apply filter
    }


   /* .footer_copyright-wrapper {
    display: none
   }

   .footer-badge {
    display: none
   }


   .footer {
    
    display: flex;
    flex-direction: column-reverse !important;
    
    
   }

   .footer-section{
@apply !flex-col-reverse;
   }


   #section-3{
    display: flex;
    @apply !flex-col-reverse;

    
   } */
}

@media screen and (max-width: 980px) {

    .section-1 {
        display: flex;
        /* flex-wrap:wrap ; */
        @apply mt-7 gap-1;

        
    }

    #section-1{
        
        flex-wrap:wrap
    }
   #section-1-wrapper {
    flex: 48%;
    height: 100%

   }
   .footer_copyright-wrapper {
    display: none
   }

   .footer-badge {
    display: none
   }


   .footer {
    
    display: flex;
    flex-direction: column-reverse !important;
    @apply !px-4 justify-center items-center;

    
    
   }

   .footer-section{
@apply !flex-col-reverse;
   }


   #section-3{
    display: flex;
    @apply !flex-col-reverse justify-center;

    
   }





}
