@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');

#cart-page {
    @apply flex justify-center gap-4 md:mx-6 sm+md:flex sm+md:flex-col sm+md:self-center;
    background-color: var(--light-grey);
    min-height: 100%;
    max-width: 100%;
}
.cart {
    @apply w-full md:w-[100%] lg:w-[500px];
}
#cart-product {
    @apply white relative flex flex-row gap-5 px-8 py-5;
    border-bottom: 2px solid var(--light-grey);
}
.cart-header {
    @apply white mb-2 mt-4 flex h-14 items-center justify-between px-8 py-10;
}

.cart-img-container {
    height: 150px;
    width: 120px;
    @apply white flex justify-start;
}

#cart-info {
    width: 70%;
}

.cart-options {
    @apply flex flex-row items-baseline gap-3 text-sm;
    margin-top: 10px;
}
.cart-options div {
    @apply flex flex-row items-baseline;
}

#save-later-btn {
    @apply mt-5 flex h-8 flex-row items-center justify-center whitespace-nowrap px-2;
    border: 1px solid var(--light-grey);
    gap: 10px;
}
#save-later-btn img {
    height: 50%;

    @apply m-0;
}

.white {
    background-color: white !important;
}

#cart-close {
    /* position: absolute;
    right:30px;
    font-family: "Gotham"; */
    // @apply absolute right-6  flex h-4 w-4 items-center justify-center text-xl;

    @apply absolute right-6 flex h-6 w-6 items-center justify-center p-[6px] transition-all ;
    font-family: 'Roboto', sans-serif;
    border-radius: 50%;

    img {

    
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
    }
}

.product-cart-wrapper {
    @apply mb-2 w-full;
}

#total-container {
    @apply white my-4 py-5 sm:px-3 md:mr-3 md:px-5  sm+md:flex sm+md:w-full sm+md:justify-center lg:w-96 lg:px-8;
    // min-width: 300px;
    // max-width: 400px;

    height: fit-content;
}

#delivery-container {
    @apply flex flex-row items-baseline justify-between;
}

#total-delivery-container {
    @apply flex flex-col gap-3;
}
/* shipping select 
 */

/* The container must be positioned relative: */

.shipping {
    min-width: 100%;
}
.shipping select {
    min-width: 100%;
    @apply text-sm;
}

.checkout-btn {
    @apply flex w-full items-center justify-center py-3 text-sm font-semibold tracking-widest text-white;
    background-color: var(--green);
    transition: background-color 0.3s ease-in-out;
}

.checkout-btn:hover {
    background-color: #016536;
}

.payment-icons {
    @apply mt-1;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px 2px;
}
.payment-icons img {
    border: 1px solid var(--light-grey);
    object-fit: contain;
}
