:root {
    --test123: 255 255 255;
}

#checkout-page {
    @apply flex justify-center sm+md:min-w-[100vw] lg:!w-[100vw];
    background-color: var(--light-grey);
}
.active-green {
    filter: invert(60%) sepia(91%) saturate(947%) hue-rotate(70deg)
        brightness(95%) contrast(88%);
}
#checkout {
    max-width: 1000px;
    @apply sm+md:max-w-[90vw];
    width: fit-content;
    /* background-color: white; */
}

#checkout section {
    background-color: white;
}

.checkout-header {
    @apply flex flex-row items-center justify-between pt-4;
    width: 100%;
    background-color: var(--light-grey);
}
.checkout-logo-wrapper {
    height: 50px;
    width: 150px;
    @apply flex items-baseline justify-center sm:h-10 md:h-12;
}

.checkout-logo-wrapper img {
    @apply h-full w-full;
    object-fit: contain;
}

/* Country Picker Section */
.country-select-container {
    @apply flex flex-row items-center justify-between gap-4;
}

.country-select-container * {
    /* outline: 2px dashed black */
}
#checkout-change-btn {
    background-color: var(--light-grey);
    @apply px-7 py-1 font-semibold tracking-wide disabled:cursor-not-allowed;
}

#country-picker {
    margin-top: 20px;
    @apply  px-6 py-6;
}

.checkout-body {
    @apply flex flex-row gap-3 sm+md:flex-col-reverse;
    background-color: var(--light-grey) !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    width: 60%;
}

.promo-header {
    @apply tracking-widest;
}

.promo-header-container {
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    @apply mt-4;
}

.promo-header-container span {
    @apply  flex h-20 items-center justify-center font-semibold tracking-wider;
}

.active-promo-voucher {
    border: 1px solid var(--primary-2);
    border-bottom: none;
}

.promo-voucher {
    border-bottom: 1px solid var(--primary-2);
}

#promo-input-container {
    @apply flex flex-col;
}
#promo-input-container span {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    @apply mb-14 mt-2;
    gap: 12px;
}
#promo-input-container span input {
    @apply m-0 flex h-12 items-center px-3;
}

#promo-input-container span button {
    background-color: var(--primary);
}
.need-to-know-container ul {
    list-style-type: disc;
    margin-left: 20px;
    @apply mt-4;
}
#promo-section {
    @apply  flex flex-col pb-0 pt-8;
}
#promo-section * {
    border-bottom-color: none;
}

.checkout-title {
    @apply mb-4 mt-4 text-xl font-bold tracking-widest;
}

.address-header {
    min-height: 60px;
    @apply tracking-widest;
}

.address-form-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: 100px;
}

.address-form-wrapper button {
    align-self: start;
}

.bg-primary {
    background-color: var(--primary) !important;
}

/* Email address */
#Email_address {
    @apply p-6;
}

#address {
    @apply  mt-3 p-6;
}

#delivery {
    @apply p-6;
}

.shipping-option-detail {
    @apply flex flex-col gap-5;
}

.shipping_option {
    display: grid;
    max-width: 100%;
    grid-template-columns: 10% 70% 10%;
    @apply gap-2 pb-7 pt-4;
    border-bottom: 2px solid var(--light-grey);
}

.shipping_option input {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.shipping_option:nth-last-child(1) {
    border-bottom: none;
}

.delivery-mb {
    margin-bottom: 40px !important;
}

#payment {
    
}

.payment-sub-header {
    @apply mb-4 flex items-center justify-between;
}

.border-b-primary {
    border-bottom: 1.3px solid var(--primary-2);
}
#payment-btn-container {
    max-width: 350px;
    @apply flex flex-col;
}
.payment-btn {
    @apply mb-4 flex w-full flex-row items-center p-3;

    border: 2px solid var(--light-grey);
}

.payment-btn aside {
    margin: 0 auto;
}
.payment-btn aside p {
    @apply text-xs;
}
#payment-type {
    @apply flex flex-col;
    /* max-width: 50% */
}

.checkout-payment-methods {
    @apply flex items-center gap-4 whitespace-nowrap px-6 py-4;
    background-color: rgb(248, 246, 246);
    margin: 0 -24px;
}

.buy-now-btn:disabled {
    background-color: #018849be;
    @apply cursor-not-allowed;
}

/* Checkout Total */

#checkout-total {
    /* min-width:  fit-content; */
    /* position: -webkit-sticky;
    position: sticky;
    top: 20px !important; */
    @apply mt-5 h-fit p-6 sm+md:w-[90vw] sm+md:self-center lg:w-[400px];
}

#checkout-total div {
    /* @apply p-6 */
}

#checkout-total .product-container {
    @apply mb-4 flex flex-col gap-5 border-b-2 py-6;
    width: 100%;
}
.product-container .product-cart {
    @apply flex flex-row gap-5;
}

.product-info-container {
    @apply flex w-full flex-col;
    gap: 2px;
}

.product-info-container #product-title {
    width: 90%;
}

#checkout-body-wrapper {
    background-color: var(--light-grey) !important;
    height: 100%;

    @apply lg:w-[600px];
}

.digicert-logo {
    @apply h-10 pr-4 sm+md:object-contain;
}

.sticky-error {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
}
