#checkout-page {
    @apply flex justify-center w-full;
    background-color: var(--light-grey);
}

#checkout {
    max-width: 1000px;
    width: fit-content;
    /* background-color: white; */
   
}

#checkout section {
    background-color: white;
}

.checkout-header {
    @apply flex flex-row justify-between items-center pt-4;
     width: 100%;
     background-color: var(--light-grey);
}
.checkout-logo-wrapper {
     height: 50px;
    width: 150px;
    @apply flex justify-center items-baseline

}

.checkout-logo-wrapper img {
   @apply w-full h-full;
    object-fit: contain;
}

/* Country Picker Section */
.country-select-container {
   @apply flex flex-row gap-4 items-center justify-between
}

.country-select-container * {
    /* outline: 2px dashed black */
}
#checkout-change-btn {
    background-color: var(--light-grey);
    @apply py-1 px-7 font-semibold tracking-wide
}


#country-picker {
    margin-top: 20px;
    @apply mb-3 px-6 py-6
}

.checkout-body {
    @apply flex flex-row gap-3;
    background-color: var(--light-grey) !important;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    width: 60%;
}

.promo-header {
    @apply tracking-widest 
}

.promo-header-container{
    display: grid;
    grid-template-columns: 1.5fr 1.2fr;
    @apply mt-4
}

.promo-header-container span {
    @apply flex justify-center items-center h-20 font-semibold tracking-wider mb-3;
    
}

.active-promo-voucher {
    border: 1px solid var(--primary-2);
    border-bottom: none
}

.promo-voucher {
    border-bottom: 1px solid var(--primary-2);
}


#promo-input-container {
    @apply flex flex-col;
}
#promo-input-container span {
   display: grid;
   grid-template-columns: 2fr 1.2fr;
   @apply mt-2 mb-14;
   gap: 12px
}
#promo-input-container span input {
    border: 1px solid var(--primary);
    @apply px-3 h-12 m-0 flex items-center
}

#promo-input-container span button {
    background-color: var(--primary);
    
}
.need-to-know-container ul{
    list-style-type:disc;
    margin-left: 20px;
    @apply mt-4
}
#promo-section{
@apply px-6 pt-8 pb-6 mb-3
    
}
#promo-section *{
border-bottom-color: none
}

.checkout-title{
@apply font-bold text-xl tracking-widest mb-4 mt-4
}

.address-header {
    min-height: 60px;
    @apply tracking-widest
}

.address-form-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;;
   
    gap: 100px
}

.address-form-wrapper button {
     align-self: start;
}

.bg-primary {
background-color: var(--primary) !important;
}

/* Email address */
#Email_address {
    @apply p-6
}

#address {
    @apply p-6 mt-3 mb-3
}

#delivery {
    @apply p-6 mb-3;
}


.shipping-option-detail{
    @apply flex flex-col gap-5
}

.shipping_option {
display: grid;
max-width: 100%;
grid-template-columns: 10% 70% 10%;
@apply gap-2 pt-4 pb-7;
border-bottom: 2px solid var(--light-grey);
}

.shipping_option input {
   
width: 20px;
height: 20px;
margin: auto 0;
}


.shipping_option:nth-last-child(1){
    border-bottom: none;
}

.delivery-mb {
    margin-bottom: 40px !important;
}

#payment {
    @apply p-6 mb-3 pb-0;
}

.payment-sub-header {
    @apply flex justify-between items-center mb-4
}


.border-b-primary {
    border-bottom: 1.3px solid var(--primary-2);

}
#payment-btn-container {
    max-width: 350px;
    @apply flex flex-col
}
.payment-btn {
    @apply p-3 flex flex-row items-center mb-4 w-full;
    
    border: 2px solid var(--light-grey);

}

.payment-btn aside {
    margin: 0 auto;
}
.payment-btn aside p {
    @apply text-xs
}
#payment-type {
    @apply flex flex-col;
    /* max-width: 50% */
}

.checkout-payment-methods {
    @apply flex whitespace-nowrap items-center gap-4 py-4 px-6;
    background-color: rgb(248, 246, 246);
    margin: 0 -24px;

    
}

.buy-now-btn {
    @apply self-center w-10/12 font-bold text-white py-4 font-gotham;
    background-color: var(--green);
    
}
.buy-now-btn-wrapper {
    @apply w-full flex justify-center mb-6
}

.buy-now-btn:disabled {
    opacity: 40%;
}

/* Checkout Total */

#checkout-total{
    /* min-width:  fit-content; */
    min-width: 400px;
    max-width: 400px;
    height: fit-content;
    @apply p-6 mt-5
}

#checkout-total div {
    /* @apply p-6 */
}

#checkout-total .product-container {
    @apply flex flex-row gap-5 mt-8 pb-14 border-b-2 mb-4;
    width: 100%;
}

.product-info-container {
    @apply flex flex-col w-full;
    gap: 2px
}

.product-info-container #product-title{
    width: 90%
}

#checkout-body-wrapper {
    background-color: var(--light-grey) !important;
    height: 100%;
    min-width: 600px;
}

.digicert-logo{
    @apply h-10 pr-4
}