.item-page-wrapper {
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#item-page {
    min-height: 100vh;
    width: 100%;
    max-width: 1366px;
    background-color: white;
    @apply /*
    display: flex; */ lg:mx-5;
}
.item-section {
    @apply mb-10 mt-3 flex justify-center sm+md:flex-col;
    max-height: max-content;
    width: 100%;
}

#item-list-section {
    @apply mr-1 sm+md:!hidden;
    flex: 0.5;
}

#item-list-wrapper {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: ; */
    @apply /* grid-template-rows: repeat(auto-fit);
    */ /* width: 100px;
    */ /* @apply gap-1;

    */ mr-3 grid grid-cols-2 gap-1;
}
.photo-wrapper {
    width: 100%;
    height: 100%;
}

.list-image {
    @apply h-full w-full object-scale-down;
}

#main_image {
    width: 100%;
    width: 100%;
    display: flex;
    flex: 3;
    @apply flex sm:h-[300px] md:max-h-[600px] sm+md:!flex-row sm+md:gap-x-1 sm+md:overflow-x-scroll lg:!h-[900px];
}

/* Size Section */

.item-size-section {
    display: flex;
    flex-direction: column;
    @apply sm:mx-4 sm+md:mt-4;
}

.size-btn-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minMax(100px, 1fr));
    @apply sm:grid-cols-4;
    grid-auto-flow: row;
    gap: 10px;
    margin-bottom: 20px;
}

.item-size-btn {
    @apply rounded-lg border py-3 font-bold sm:px-0 sm:py-2 sm:text-sm sm:font-semibold;
}

.adddtocart-wishlist {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 10px;
    @apply sm:mx-4;
}

/* wishlist */

.wishlist {
    @apply h-16 w-16 flex-[0.5] md:mx-auto;
}

/* Add to cart button */

#add-to-cart {
    color: var(--white);
    background-color: var(--black);
    /* border-radius: 32px; */
    @apply bg-[var(--green)] font-bold tracking-wide sm+md:h-11 sm+md:text-xs sm+md:font-semibold;
}

/* Shipping */

#Shipping {
    @apply flex flex-row items-center gap-4 sm:mx-4 lg:mt-6;
}
.shipping-icon {
    @apply h-10 w-10 sm:h-6 sm:w-6 sm:self-start;
}

/* similar Styles */

.styles-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minMax(100px, 1fr));
    gap: 5px;
    width: 100%;
    @apply mb-4 sm+md:grid-cols-4;
}

.similar_styles {
    max-width: 100%;
}

#Product_info {
    flex: 2.5;
    @apply flex flex-col sm:mx-4 md:mx-8 sm+md:mt-4 lg:pl-14;
}
#Product_info > .card-info:nth-of-type(1) {
    @apply mb-4 flex sm:gap-1 md:gap-2 lg:gap-3;
}
#Product_info .card-info:nth-of-type(1) p {
    @apply text-lg sm+md:text-lg;
}

#Product_info .card-info:nth-of-type(1) h2 {
    @apply text-xl;
}
#similar-btn {
    @apply !self-end whitespace-nowrap bg-[var(--primary)] px-9 font-bold text-white sm+md:self-start sm+md:px-8 sm+md:py-2 sm+md:text-sm sm+md:font-semibold  lg:h-10;
}
.style-with-card {
    @apply grid grid-cols-3 gap-1;
}

/* Reviews */
.reviews {
    @apply flex w-full justify-center;

    justify-self: center;
}

#review-btn {
}

.max-650 {
    max-width: 650px;
}

.style-with-card .card-info {
    @apply relative bottom-0 mt-2 flex h-20 flex-col sm+md:mx-0;
}
.style-with-card .card-info p {
    @apply !text-sm sm:!text-xs;
}
.style-with-card .card-info-price {
    @apply mt-auto flex flex-col;
}
.style-with-card .card-info h2 {
    @apply mt-auto sm:!text-sm;
}

#Recommended .card-info {
    @apply sm:h-20;
}

#item-page .item-size-section .section-title {
    @apply hidden md+lg:mb-3;
}
#product-detail .section-title {
    @apply md+lg:mb-0;
}
