.item-page-wrapper {
    min-width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#item-page {
    min-height: 100vh;
    width: 100%;
    max-width: 1366px;
    background-color: white;
    @apply flex flex-col lg:mx-5;
}
.item-section {
    @apply mb-10 mt-3 flex w-10/12 justify-center self-center sm+md:flex-col;
    max-height: max-content;
}

#item-list-section {
    flex: 0.5;
    @apply mr-1;
    @apply sm+md:hidden #{!important};
}

#item-list-wrapper {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: ; */
    @apply mr-3 flex flex-col gap-y-1;

    @apply h-full;
}
.photo-wrapper {
    width: 100%;
    height: 100%;
    @apply max-h-16;
}

.list-image {
    @apply h-full w-full object-cover object-scale-down;
}

#main_image {
    width: 100%;
    width: 100%;
    display: flex;
    flex: 2;
    @apply flex sm:h-[300px] md:max-h-[600px] sm+md:gap-x-1 sm+md:overflow-x-scroll;
    @apply sm+md:flex-row lg:h-[600px] #{!important};
}

/* Size Section */

.item-size-section {
    display: flex;
    flex-direction: column;
    @apply sm:mx-4 sm+md:mt-4;
}

.size-btn-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minMax(100px, 1fr));
    @apply sm:grid-cols-4;
    grid-auto-flow: row;
    gap: 10px;
    margin-bottom: 20px;
}

.item-size-btn {
    @apply rounded-lg border py-3 font-bold sm:px-0 sm:py-2 sm:text-sm sm:font-semibold;
}

.adddtocart-wishlist {
    @apply flex h-full max-h-14  min-h-[50px] flex-row flex-nowrap items-center gap-x-4 sm:mx-4;
}

/* wishlist */

.wishlist {
    // @apply h-16 w-16 flex-[0.5] md:mx-auto;
    flex: 0.5;
    @apply flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-200;

    #wishlist-btn {
        @apply flex h-full w-full items-center justify-center bg-contain bg-no-repeat;
        background-position: center;
        background-size: 30px 30px;
        background-image: url('../assets/icons/empty-heart.png');
        &:hover {
            background-image: url('../assets/icons/fill-heart.png');
            stroke: black;
            stroke-width: 20%;
        }
    }
}

/* Add to cart button */

#add-to-cart {
    flex: 3;
    color: var(--white);
    background-color: var(--black);
    height: 100% !important;
    /* border-radius: 32px; */
    @apply bg-[var(--green)] font-bold tracking-wide hover:opacity-80 sm+md:h-11 sm+md:text-xs sm+md:font-semibold;
}

/* Shipping */

#Shipping {
    @apply flex flex-row items-center gap-4 sm:mx-4 lg:mt-6;
}
.shipping-icon {
    @apply h-10 w-10 sm:h-6 sm:w-6 sm:self-start;
}

/* similar Styles */

.styles-image-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minMax(80px, 1fr));
    gap: 5px;
    width: 100%;
    @apply mb-2 cursor-pointer sm+md:grid-cols-4;
}

.similar_styles {
    max-width: 100%;
}

#product-info {
    flex: 1;
    @apply flex flex-col sm:mx-4 md:mx-8 sm+md:mt-4 lg:pl-14;

    .card-info:nth-of-type(1) {
        @apply mb-4 flex sm:gap-1 md:gap-2 lg:gap-3;
    }
    .card-info:nth-of-type(1) p {
        @apply text-lg sm+md:text-lg;
    }
    .card-info:nth-of-type(1) h2 {
        @apply text-xl;
    }

    .style-with-card {
        @apply grid grid-cols-3 gap-1;
    }
    #similar-btn {
        @apply min-h-full self-end whitespace-nowrap  rounded-full px-4 text-s  font-bold text-white sm+md:self-start sm+md:py-2 sm+md:font-semibold #{!important};
    }
}

/* Reviews */
.reviews {
    @apply flex w-full justify-center;

    justify-self: center;
}

#review-btn {
}

.max-650 {
    max-width: 650px;
}

.style-with-card .card-info {
    @apply relative bottom-0 mt-2 flex h-20 flex-col sm+md:mx-0;
}
.style-with-card .card-info p {
    @apply text-sm sm:text-xs #{!important};
}
.style-with-card .card-info-price {
    @apply mt-auto flex flex-col;
}
.style-with-card .card-info h2 {
    @apply mt-auto sm:text-sm #{!important};
}

#Recommended .card-info {
    @apply sm:h-20;
}

#item-page .item-size-section .section-title {
    @apply hidden md+lg:mb-3;
}
#product-detail .section-title {
    @apply md+lg:mb-0;
}

.item-select {
    &:focus {
        box-shadow: rgba(33, 101, 228, 0.628) 0px 5px 15px;
    }
}
