* {
    /* outline: 3px dotted black; */
}

#product_page {
    /* min-height: 100vh; */
    height: 100%;
    /* display: grid; */
    /* outline: 3px dotted black; */
    /* grid-template-columns: 25% 75%; */
    width: 100%;
    display: flex;
    @apply justify-center bg-white pb-20 pt-5;
}

.product-page-wrapper {
    /* max-width:1366px; */
    width: 100%;
    height: 100%;
    align-self: center;
    margin: 0 auto;
    display: flex;

    @apply gap-5;
}

/* Collection Section */

#collection-section .card {
    /* min-height: 500px; */
    @apply h-full w-full bg-white shadow-none sm:max-h-max lg:!h-[300px] cursor-pointer;
    max-height: max-content;
    /* width: 300px; */
    border: none;
    border-radius: 0%;
}

#product_page .card-info {
    @apply sm:h-20;
}
/* Filter Section */
.filter-btn {
    @apply w-full w-full rounded-full py-4 text-sm font-medium;
    border: thin solid var(--light-grey);
}
#filter-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 30px;
    padding-right: 20px;
    min-height: 100%;
    @apply sm:!hidden;
    @apply [@media(max-width:800px)]:!hidden;
    flex: 1 1 20%;
}

#size-btn-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @apply sm:flex sm:flex-wrap;
}

#size-btn-wrapper button {
    @apply flex w-full items-center justify-center rounded-md py-3 text-sm font-medium sm:w-[45px] sm:px-3 sm:py-2;

    border: thin solid var(--light-grey);
}

#size-section {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 28px; */
    @apply: min-w-full;
}

.size-title {
    display: flex;

    align-self: flex-start;
}

/* Color Section */

.shade {
    @apply mb-2 h-9 w-9 rounded-full sm+md:h-8 sm+md:w-8;
    border: 1px solid grey;
}

#color-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0;
    @apply sm:grid-cols-5 sm+md:ml-3 sm+md:grid sm+md:gap-4;
}

.section-title {
    @apply flex min-h-full w-full text-[16px] font-semibold sm:items-center sm:text-sm sm:font-medium md+lg:mb-0;
}

#color-section,
#size-section,
#category-section {
    width: 100%;
}
.section-header {
    @apply flex flex-row items-center justify-between py-3;
}

/* Category Section */

.category-checkbox-wrapper {
    @apply flex flex-row flex-nowrap gap-3 font-normal;
}

/* Arrow */
.arrow-wrapper {
    @apply flex h-4 w-4 items-center sm+md:h-3 sm+md:w-3;
}
.up-arrow {
    transform: rotate(180deg);
    @apply h-full w-full;
}

.down-arrow {
    transform: rotate(0deg);
}

#product_page .bottom {
    @apply flex sm:ml-[-20px] sm:w-screen sm+md:flex-row;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}
#product_page .bottom .category-filter-btn:nth-of-type(1) {
    @apply sm:ml-5;
}

#product_page .bottom .category-filter-btn {
    border: thin solid var(--light-grey);
    @apply mb-3 mr-2 rounded-full px-5 py-2 text-sm font-medium sm:px-3 sm:py-3 sm:text-xs sm+md:whitespace-nowrap sm+md:!shadow-sm lg:px-5 lg:py-4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 2px;
}


