.user-dashboard {
  
  
    .btn {
        @apply rounded-none bg-white;
    }

    .btn-active {
        @apply border-none bg-primary #{!important};
    }
    .active-btn {
        @apply bg-gray-50 #{!important};

        p {
            @apply font-bold tracking-wide;
        }

        &:before {
            content: '';
            @apply absolute left-[-5px] h-full w-1 bg-blue-500;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    .modal-content {
        @apply w-[400px] rounded-none #{!important};
    }

    .daisy-checkbox {
        --bc: 0, 0%, 100%;
        --chkbg: 0, 0%, 100%;
        --chkfg: 182, 87%, 39%;
        &:checked {
            // background-color: blue !important;
            //  --chkbg: #FFFFF
        }
    }
}
.item-start-container {
    align-items: start;
}