.new {
    @apply flex w-full;

    .newContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 12px;
            // margin: 20px;
            display: flex;

            .title {
                color: lightgrey;
            }

            .left {
                flex: 1;
                @apply flex flex-col items-center justify-between;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 2;

                form {
                    // @apply flex flex-wrap justify-around gap-6;
                    @apply grid grid-cols-2 gap-6 px-10;
                    .formInput {
                        width: 100%;

                        label {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                cursor: pointer;
                            }
                        }
                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid grey;
                        }
                    }

                    .submit-btn {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: rgba(0, 128, 0, 0.759);
                        color: white;
                        font-weight: bold;
                        @apply tracking-widest;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
