.mobile-nav {
    * {
        font-family: 'Gotham';
    }

    @apply lg:hidden;

    .burger {
        @apply mr-3 flex h-full items-center;

        .icon {
            font-size: 30px;
        }
    }
    .menu-body {
        transform: translateX(-100%);
        transition: all 0.4s;

        a {
            @apply py-2 pt-1;
        }

        .divider {
            border-style: solid;
            border-right-width: thin;
            // background-color: var(--grey );
        }
        .category-btn {
            border-style: solid;
            border-bottom-width: thin;
        }

        .category-btn-active {
            border-bottom: 2px solid black;
        }
    }

    .menu-body-open {
        transform: translateX(0%);
    }
}

.backdrop {
    @apply fixed left-0 top-0 min-h-screen w-full;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.backdrop-open {
    display: block;
    z-index: 1;
}

.close-btn {
    @apply flex h-12  w-12 items-center justify-center rounded-md p-3 sm:left-70.1 md:left-0 md:m-0 md:h-full md:w-16 md:p-5;

    filter: invert(100%);
    opacity: 100%;

    z-index: 3;
    top: 0;

    transition: all 0.5;
}

.nav-banner:nth-last-of-type(1) {
    margin-bottom: auto;
}

.menu-header {
    @apply sticky left-0 top-0 m-0 flex w-full justify-center bg-white p-0;
}

.menu-body-wrapper {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - (56px));
    @apply sm:pb-4 md:pb-20;
}
