.mobile-nav {
    * {
        font-family: 'Gotham';
    }

    @apply lg:hidden;

    .burger {
        @apply mr-3 flex h-full items-center;

        .icon {
            font-size: 30px;
        }
    }
    .menu-body {
        background-color: white;
        position: absolute;
        top: 60px;
        @apply sm:top-0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.4s;
        z-index: 4 !important;
        //   overflow: hidden;
        //   overflow-y: scroll;

        height: 100vh;
        @apply sm:pb-4 md:pb-20;

        width: 100%;
        z-index: 3;
        @apply sm:w-70 md:w-80;
        max-width: 24rem;

        a {
            @apply py-2 pt-1;
        }

        .divider {
            border-style: solid;
            border-right-width: thin;
            // background-color: var(--grey );
        }
        .category-btn {
            border-style: solid;
            border-bottom-width: thin;
        }

        .category-btn-active {
            border-bottom: 2px solid black;
        }
    }

    .menu-body-open {
        transform: translateX(0%);
       
    }
}

.backdrop {
    @apply fixed left-0 top-0 min-h-screen w-full;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.backdrop-open {
    display: block;
    z-index: 1;
}

.close-btn {
    @apply absolute flex h-12  w-12 items-center justify-center rounded-md p-3;

    filter: invert(100%);
    opacity: 100%;
    // border: 1px solid black;
    z-index: 3;
    top: 0;
    @apply sm:left-70.1 md:left-0 md:m-0 md:h-full md:w-16 md:p-5;

    transition: all 0.5;
}

.nav-banner:nth-last-of-type(1) {
    margin-bottom: auto;
}

.menu-header {
    @apply sticky flex h-14 w-full justify-center;

    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    // border-top: 1px solid black;
z-index: 4;
    background-color: white;
}

.menu-body-wrapper {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - (56px));
    @apply sm:pb-4 md:pb-20;
}
