
.dropzone {
    @apply flex flex-col items-center justify-center gap-y-3;
    height: 200px;
    outline: 2px dashed black;
    border-radius: 12px;
}

.uploads {
    height: fit-content;
    .img-grid {
        // max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        gap: 5px;
        // grid-auto-flow: column;

        li {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


#upload-section {
  @apply min-w-[200px];


#upload {
    @apply flex w-full flex-row gap-1 ;

    height: 300px;
    // min-width: 500px;

    .img-container,
    .add-img-container {
        @apply w-full rounded-xl;
        border: 1px solid var(--light-grey);
        height: calc(100% / 2);
        min-width: 100%;
    }

    .main-img {
        flex: 1;
        
       
        @apply flex flex-col h-full w-full ;
        gap: 4px;

        .img-container {
        
            flex: 1;
            position: relative;

            &:nth-of-type(1)::before {
                content: 'Primary';
               
                position: absolute;
                top: 5px;
                right: 5px;
              z-index: 3;
                @apply m-1 rounded-xl px-2 py-1 text-xs bg-green-200 ;
            }
        }
    }

    .additional-img {
    
        flex: 1 ;
;
      @apply grid grid-cols-2 grid-rows-2 h-full w-full gap-1;

        .add-img-container {
          
            @apply w-full h-full;
         
    
        }
    }

    img {
        @apply h-full w-full object-cover object-center ;
        border-radius: inherit;
    }
}


}